* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #323333;
  height: 100vh;
}
p,
h1,
h2,
h3,
a {
  color: #fff !important;
}

// Header
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 30px;

    h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #333333;
    }
  }
}
.underline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .line {
    width: 800px;
    height: 1px;
    background-color: #e4e0e0;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 10rem;

    li {
      list-style: none;
      width: 100px;

      a {
        text-decoration: none;
        color: #323333;
        font-size: 17px;
        font-weight: 500;
        line-height: 16px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        transition: 0.1s ease-in;
      }
    }
  }
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;

  input {
    width: 456px;
    height: 56px;
    border: 1px solid #bdbdbd;
    border-radius: 12px 0 0 12px;
    padding: 12px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      color: #828282;
    }
  }

  button {
    padding: 20px 42px;
    cursor: pointer;
    border-radius: 0 12px 12px 0;
    border: #2f80ed;
    font-size: 14px;
    line-height: 16px;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    background-color: #2f80ed;
    z-index: 1000;
    transform: translateX(-1px);
  }
}

// Inputs
.checks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  .checks {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    width: 70%;
    z-index: 1000;
    .input-text {
      display: flex;
      margin-top: 1rem;
      gap: 1rem;
      width: 60%;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 20px;
      input {
        width: 20px;
        height: 20px;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 17px;
        text-align: start;
        width: 80%;
        color: #333333;
      }
    }
    .trash-bin {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 20px;
      color: #bdbdbd;
      cursor: pointer;
    }
  }
}
input,
select,
textarea {
  color: #323333;
}
.task-delete-hide {
  display: none !important;
}

.btn-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 420px;
  .btn {
    width: 45%;
    .del-btn {
      .trash-bin {
        font-size: 13px;
        background-color: transparent;
        transform: translateY(2px);
      }
    }
  }
}

.task-container {
  margin-top: 20px;
  width: 100%;
  height: 67vh;
}

.completed {
  text-decoration: line-through;
}

.del-btn-hide {
  display: none !important;
}

.select-line {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100px;
    top: 20px;
    height: 5px;
    background-color: #2f80ed;
    bottom: 0;
    right: 0px;
    border-radius: 12px 12px 0 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .btn-container {
    width: 100%;

    ul {
      height: 100%;
      width: 100%;
      gap: 1rem;
    }
  }

  .task-form-container {
    display: flex;
    width: 100%;
    justify-content: center;
    .input-container {
      width: 80%;
      display: flex;

      form {
        display: flex;
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }

  .task-template-container {
    justify-content: center;
    align-items: center;
    display: flex;
    .checks-container {
      width: 80%;

      .checks {
        width: 100%;
        .input-text {
          width: 100%;
        }
      }
    }
  }

  .task-container {
    height: 70vh !important;
  }
}

@media screen and (min-width: 1401px) {
  .task-template-container {
    justify-content: center;
    align-items: center;
    display: flex;
    .checks-container {
      width: 70%;
      .checks {
        width: 100%;
        .input-text {
          width: 100%;
        }
      }
    }
  }

  .task-container {
    height: 67vh !important;
  }
}

@media screen and (max-width: 1920px) {
  .task-container {
    height: 74vh;
  }
}
